<div>
  <div class="page-header">
    <a routerLink="/weld-engineering/admin" class="back-link">
      <svg lucideArrowLeft class="size-4"></svg> Manage Procedures
    </a>
    <span class="c-muted">/</span>
    <h2 class="section-title">Load Procedures</h2>
  </div>
  <p class="section-sub">Load procedures from a spreadsheet (.xlsx or .csv).</p>

  <app-import-grid [importer]="this" noun="procedures" doneLink="/weld-engineering/admin">
    <ng-template #headerCells>
      <th class="min-w-32">WPS</th>
      <th class="min-w-40">Title</th>
      <th class="min-w-24">Status</th>
      <th class="min-w-24">GWP</th>
      <th class="min-w-24">WTN</th>
      <th class="min-w-24">Weld Process</th>
      <th class="min-w-20">Rev</th>
      <th class="min-w-32">Effective Date</th>
      <th class="min-w-32">Process Type</th>
      <th class="min-w-40">Application</th>
      <th class="min-w-32">Base Metal 1 Type</th>
      <th class="min-w-32">Base Metal 2 Type</th>
      <th class="min-w-40">Filler Metal Types</th>
      <th class="min-w-40">Filler Metal Sizes</th>
      <th class="min-w-20">PH Min</th>
      <th class="min-w-20">PH Max</th>
      <th class="min-w-20">IP Min</th>
      <th class="min-w-20">IP Max</th>
      <th class="min-w-48">Rules</th>
      <th class="min-w-48">Conditions</th>
      <th class="min-w-48">Qualifications Required</th>
    </ng-template>
    <ng-template #rowCells let-row>
      <td><input class="input input-xs w-full" [(ngModel)]="row.id" [class.input-error]="!row.id" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.title" /></td>
      <td>
        <select class="select select-xs w-full" [(ngModel)]="row.status">
          @for (s of statuses; track s.value) {
            <option [value]="s.value">{{ s.label }}</option>
          }
        </select>
      </td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.gwp" [class.input-error]="!row.gwp" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.wtn" [class.input-error]="!row.wtn" /></td>
      <td>
        <select class="select select-xs w-full" [(ngModel)]="row.weldProcess">
          <option value="">-</option>
          @for (p of weldProcesses; track p) {
            <option [value]="p">{{ p }}</option>
          }
        </select>
      </td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.wpsRev" /></td>
      <td><input type="date" class="input input-xs w-full" [(ngModel)]="row.effectiveDate" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.processType" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.application" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.baseMetal1Type" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.baseMetal2Type" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.fillerMetalTypes" placeholder="mil-70s-3; mil-70s-6" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.fillerMetalSizes" placeholder="1/16; 3/32" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.phMin" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.phMax" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.ipMin" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.ipMax" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.rules" placeholder="a; b" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.conditions" placeholder="a; b" /></td>
      <td><input class="input input-xs w-full" [(ngModel)]="row.qualificationsRequired" placeholder="a; b" /></td>
    </ng-template>
  </app-import-grid>
</div>
